
AoC2020/obj/Debug/netcoreapp3.1/Day01.pdb
AoC2020/obj/Debug/netcoreapp3.1/Day01.dll
AoC2020/bin/Debug/netcoreapp3.1/Program.cs
AoC2020/bin/Debug/netcoreapp3.1/Day01.pdb
AoC2020/bin/Debug/netcoreapp3.1/Day01.dll
.vs/AoC2020/v16/.suo
*.v2
.vs/AoC2020/v16/.suo
*.dll
*.exe
*.pdb
*.json
*.cache
*.cache
*.cache
.vs/AoC2020/v16/.suo
*.props
*.targets
Day02/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Day02/obj/Debug/netcoreapp3.1/Day02.AssemblyInfo.cs
Day02/obj/Debug/netcoreapp3.1/Day02.csproj.FileListAbsolute.txt
Day02/bin/Debug/netcoreapp3.1/Input.txt
AoC2020/obj/Debug/netcoreapp3.1/Day01.csprojAssemblyReference.cache
.vs/AoC2020/v16/.suo
